MONGODB_URI=SHISHIR_MONGO_URI

#NEXT AUTH
NEXTAUTH_URL=SHISHIR_URL
NEXTAUTH_SECRET=YOUR_SECRET

# Google
GOOGLE_CLIENT_ID=SHISHIR_GOOGLE_ID
GOOGLE_CLIENT_SECRET=SHISHIR_GOOGLE_SECRET

#JWT
JWT_SECRET=YOUR_JWT_SECRET
